<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="flightBooking.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=yana;PERSIST SECURITY INFO=True;USER ID=C##YANA1"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>